@import "../../../styles/variables";

.app-box-pokemon-photo {
    background-color: whitesmoke;
    border: $borderColor;
    border-radius: 20px;
    text-align: center;

    * img {
        background-color: rgb(233, 233, 233);
        border: $borderColor;
    }
}

.app-box-pokemon-info {
    background-color: #30a7d7;
    border-radius: 20px;
    padding: 35px;
}

.app-pokemon-photo {
    max-width: 300px;
}

.app-badge {
    font-weight: normal;
    padding: 10px;
    margin-bottom: 5px;
}