<div class="row" *ngIf='pokemon'>

  <div class="col text-center pt-3">
    <h2 class="mx-auto mt-3 mb-5">
      {{ pokemon.name | titlecase }}
      <span class="text-muted"># {{ pokemon.id }}</span>
    </h2>
  </div>

</div>

<div class="container">
  <div class="row" *ngIf='pokemon'>

    <div class="col app-box-pokemon-photo mb-5">
      <!-- <img [src]="pokemon.sprites.front_default" class="rounded app-pokemon-photo" alt="{{ pokemon.name }}" /> -->
      <img [src]="photo" class="rounded app-pokemon-photo" alt="{{ pokemon.name }}" />
    </div>

    <div class="col app-box-pokemon-info mb-5">
      <p>
        <span class="text-white mb-5">Peso: </span><br />
        <strong>{{ pokemon.weight }}</strong>
      </p>

      <p>
        <span class="text-white">Altura: </span><br />
        <strong>{{ pokemon.height }}</strong>
      </p>

      <p>
        <span class="text-white">Experiência base: </span><br />
        <strong>{{ pokemon.base_experience }}</strong>
      </p>

      <p>
        <span class="text-white">Características: </span><br />
        <span *ngFor="let item of pokemon.stats" class="badge badge-pill badge-primary mr-1 app-badge">
          {{ item.stat.name }}
        </span>
      </p>

      <div class="row pt-5 pb-5" *ngIf='!pokemon'>
        <div class="col text-center">