<a [routerLink]="['/pokemon', pokemonId]" class="app-link">
  <div class="app-pokemon-item-list mx-auto text-center">

    <div class="col">
      <fa *ngIf="!resolvedData?.sprites?.front_default" name="spinner fa-4x mb-4 fa-spin" class="text-muted"></fa>
      <img *ngIf="resolvedData?.sprites?.front_default" [src]="resolvedData.sprites.front_default" class="rounded app-pokemon-photo mb-1" alt="{{ resolvedData.name }}" />
    </div>

    <div class="col app-pokemon-description">
      <span class="text-muted app-text-pokemon-id"># {{ resolvedData?.id }}</span>
      <h4 class="app-title-pokemon">{{ resolvedData?.name | titlecase }}</h4>
    </div>

  </div>
</a>