<a [routerLink]="['/pokemon', pokemonId]" class="app-link">
  <div class="app-pokemon-item-list mx-auto text-center">

    <div class="col">
      <img *ngIf="!resolvedData" [src]="notFound" class="rounded" />
      <img *ngIf="resolvedData" [src]="resolvedData?.sprites?.front_default" class="rounded" alt="{{ resolvedData.name }}" />
    </div>

    <div class="col app-pokemon-description">
      <span class="text-muted app-text-pokemon-id"># {{ resolvedData.id }}</span>
      <h4 class="app-title-pokemon">{{ resolvedData.name | titlecase }}</h4>
    </div>

  </div>
</a>