<div class="pt-3 pl-2 text-muted" *ngIf="pokemonList">
  <small>Página {{ currentPage }} de 25 | {{ pokemonList.count }} Pokémons</small>
</div>

<div class="row pt-3 pb-4" *ngIf="pokemonList">
  <div *ngFor="let pokemon of pokemonList.results; index as i" class="col">
    <app-pokemon-list-item [pokemon]="pokemon" [pokemonId]="i+1"></app-pokemon-list-item>
    <hr />
  </div>
</div>

<div class="row" *ngIf="pokemonList">
  <app-pagination class="mx-auto" [previousPage]="previousPage" [currentPage]="currentPage" [nextPage]="nextPage"></app-pagination>
</div>

<div class="row pt-4 pb-4 app-no-pokemons" *ngIf="!pokemonList">
  <div class="container-fluid">
    <p class="alert alert-warning">Não há pokémons.</p>
  </div>
</div>