<div class="row pt-4 pb-4" *ngIf="pokemonList">
  <div *ngFor="let pokemon of pokemonList.results; index as i" class="col">
    <app-pokemon-list-item [pokemon]="pokemon" [pokemonId]="i+1"></app-pokemon-list-item>
    <hr />
  </div>
</div>

<div class="row" *ngIf="pokemonList">
  <app-pagination class="mx-auto" [pokemonList]="pokemonList"></app-pagination>
</div>

<div class="row pt-4 pb-4 app-no-pokemons" *ngIf="!pokemonList">
  <div class="container-fluid">
    <p class="alert alert-warning">Não há pokémon favoritos.</p>
  </div>
</div>