@import "styles/variables";

body {
 font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif !important;
}

.app-box-border {
    border: $borderColor;
    border-radius: 5px;
    padding: 20px;
}

.app-favorite {
    cursor: pointer;
    color: gray;
    transition: color 0.2s;

    &:hover {
        color: #f7cc11;
        text-shadow: 0px 0px 4px black;
    }
}

.app-favorite-selected {
    color: #ffd310;
    text-shadow: 0px 0px 3px black;
}

.app-no-pokemons {
    min-height: 350px;

    div p {
        text-align: center;
        border: 1px solid #ffe38f;
    }
}